.filled-button {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 8px;
    -fx-padding: 0px 16px 0px 16px;
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-pref-height: 40px;
    -fx-background-insets: 0;
}

.filled-button.small {
    -fx-padding: 0px 12px 0px 12px;
    -fx-font-size: 14px;
    -fx-pref-height: 32px;
}

.filled-button.medium {
    -fx-padding: 0px 16px 0px 16px;
    -fx-font-size: 16px;
    -fx-pref-height: 40px;
}

.filled-button:hover {
    -fx-background-color: #3A3E45;
}

.filled-button:armed {
    -fx-background-color: #000000;
}

.filled-button:disabled {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #A0A0A0;
}