@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../fonts/BaiJamjuree-Regular.ttf');
}

@font-face {
    font-family: 'Phosphor';
    src: url('../icons/Phosphor-Regular.ttf');
}

.root {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-font-family: 'Bai Jamjuree';
}

Icon, .icon {
    -fx-font-family: Phosphor;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 0 0 2px 0;
}

.table-view .column-header .label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 3px;
}

.table-view .column-header,
.table-view .filler {
    -fx-border-color: transparent;
    -fx-background-color: white;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-cell-size: 44px;
}

.table-view .table-cell {
    -fx-font-size: 14px;
    -fx-padding: 10px 3px;
}

.table-row-cell > .table-cell {
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: white;
}

.table-row-cell:filled:selected,
.table-row-cell:filled:selected .table-cell {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-text-fill: white;
}

/* =========================================================
   Custom ComboBox Styles for JavaFX
   Component พื้นฐาน ComboBox
   - ส่วนประกอบภายใน:
     .combo-box                           // root ของ ComboBox
     .list-cell                           // cell ที่แสดงค่าปัจจุบัน
     .arrow-button                        // ปุ่มลูกศร
     .arrow                               // ไอคอนลูกศร
     .combo-box-popup .list-view          // popup dropdown
     .combo-box-popup .list-cell          // item ภายใน dropdown

   - สถานะ:
     :focused   // ได้โฟกัส กำลังใช้งาน
     :hover     // เมาส์ชี้
     :disabled  // ปิดการใช้งาน
     :editable  // เปิดให้พิมพ์ค่าเองได้
     :showing   // popup แสดงอยู่
     :error     // (custom) สำหรับ validation ผิดพลาด

   ========================================================= */

.combo-box {
    -fx-background-color: transparent;
}

.combo-box:hover {
    -fx-background-color: #F3F4F6;
}

.combo-box .arrow-button .arrow{
    -fx-background-color: transparent;
}

.combo-box .list-cell {
    -fx-text-fill: #121212;
}

.combo-box-popup .list-view {
    -fx-background-color: #F3F4F6;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #F3F4F6;
    -fx-text-fill: #121212;
    -fx-pref-height: 32px;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #3A3E45;
}

/* =========================================================
   Custom TextField Styles for JavaFX
   Component พื้นฐาน TextField
   - ส่วนประกอบภายใน:
     .text-field                         // root ของ TextField
     .prompt-text                        // placeholder
     .text                               // ข้อความที่พิมพ์

   - สถานะ:
     :focused   // ขณะผู้ใช้กำลังพิมพ์
     :hover     // ขณะเมาส์ชี้
     :disabled  // ปิดการใช้งาน
     :readonly  // อ่านได้ แต่แก้ไม่ได้

   ========================================================= */

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #D5D8DC;
    -fx-border-radius: 8px;
    -fx-border-style: solid outside;
    -fx-padding: 8px 12px;
    -fx-text-fill: #121212;
    -fx-font-size: 16px;
}

/* Hover */
.text-field:hover {
    -fx-border-color: #9096A2;
}

/* Focused */
.text-field:focused {
    -fx-border-color: #121212;
    -fx-border-width: 2;
    -fx-background-color: transparent;
}

/* Disabled */
.text-field:disabled {
    -fx-opacity: 0.5;
}

/* Readonly */
.text-field:readonly {
    -fx-border-color: #F0F0F0;
    -fx-background-color: transparent;
    -fx-text-fill: #9096A2;
}

/* Placeholder */
.text-field .prompt-text {
    -fx-text-fill: #9096A2;
}