.label-small {
    -fx-font-size: 11px;       /* 0.688rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 400;
    -fx-font-style: normal;
    -fx-line-spacing: 14px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.label-medium {
    -fx-font-size: 12px;       /* 0.75rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 400;
    -fx-font-style: normal;
    -fx-line-spacing: 15px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.label-large {
    -fx-font-size: 14px;       /* 0.875rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 400;
    -fx-font-style: normal;
    -fx-line-spacing: 16px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.body-small {
    -fx-font-size: 14px;       /* 0.875rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 400;
    -fx-font-style: normal;
    -fx-line-spacing: 16px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.body-medium {
    -fx-font-size: 16px;       /* 1rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 400;
    -fx-font-style: normal;
    -fx-line-spacing: 20px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.body-large {
    -fx-font-size: 18px;       /* 1.125rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 400;
    -fx-font-style: normal;
    -fx-line-spacing: 22px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.title-small {
    -fx-font-size: 16px;       /* 1rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 500;
    -fx-font-style: normal;
    -fx-line-spacing: 20px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.title-medium {
    -fx-font-size: 18px;       /* 1.125rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 500;
    -fx-font-style: normal;
    -fx-line-spacing: 23px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.title-large {
    -fx-font-size: 23px;       /* 1.438rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 500;
    -fx-font-style: normal;
    -fx-line-spacing: 28px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.headline-small {
    -fx-font-size: 23px;       /* 1.438rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 500;
    -fx-font-style: normal;
    -fx-line-spacing: 28px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.headline-medium {
    -fx-font-size: 28px;       /* 1.75rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 500;
    -fx-font-style: normal;
    -fx-line-spacing: 34px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.headline-large {
    -fx-font-size: 33px;       /* 2.062rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 500;
    -fx-font-style: normal;
    -fx-line-spacing: 40px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.display-small {
    -fx-font-size: 33px;       /* 2.062rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 600;
    -fx-font-style: normal;
    -fx-line-spacing: 40px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.display-medium {
    -fx-font-size: 40px;       /* 2.5rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 600;
    -fx-font-style: normal;
    -fx-line-spacing: 48px;
    -fx-underline: false;
    -fx-text-transform: none;
}

.display-large {
    -fx-font-size: 48px;       /* 3rem */
    -fx-font-family: "Bai Jamjuree";
    -fx-font-weight: 600;
    -fx-font-style: normal;
    -fx-line-spacing: 58px;
    -fx-underline: false;
    -fx-text-transform: none;
}
