@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../fonts/BaiJamjuree-Regular.ttf');
}
.root {
    -fx-background-color: transparent;
    -fx-font-family: 'Bai Jamjuree';
    -fx-padding: 0;
}